/* Global Styles */
html {
        font-size: 62.5%;
}

body {
        margin: 0;
        min-height: 100vh;
        font-family: 'Nunito', sans-serif;
        display: flex;
        justify-content: center;
         
}

.wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;  
}

h2 {
        margin: 0;
        font-size: 3.2rem;
        text-align: center;
}

p {
        margin: 0;
        font-size: 1.8rem;
        text-align: center;
        width: 317px;
        align-self: center;
        line-height: 1.5em;
}

.img-row img {
        width: 268px;
        height: 231px;
        border: .3em solid black;
        border-radius: 1.6em;
        filter: drop-shadow(2px 3px 0 black);
        margin: .3em .4em;    
}

.img-cont-2,
.img-cont-3 {
        display: none;
}

/* Hero */

.hero {
        display: flex; 
        flex-direction: column;
        align-items: center;
        padding: 4.5em;
        gap: 4em;
        background-color: #FFEBCD; 
}

h1 {
        margin-bottom: .5em;
        font-size: 3.3rem;
}
/* Main */
.main-cont {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin: 7em;
}

.icon {
        align-self: center;
}

.main p {
        color: #2B2B2B;
        width: 280px;
}

@media screen and (min-width:800px) {
        /** {
                border: .5px solid red;
        }*/
        h1 {
                font-size: 5em;
                margin: 0;
        }

        h1,
        h2,
        p {
                text-align: start;
        }

        .hero {
                display: block;
                align-items: flex-start;
                padding: 6em 7em;
        }

        .hero p {
                font-size: 2.4rem;
                width: 21em;
                line-break: 2em;
                margin: 1em 0;
        }

        p {
                align-self: flex-start;
        }

        div.img-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                height: 15em;
                gap: 2em;
        }

        .image img {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: .4em;
        }

        .img-col-1 {
                display: flex;
                flex-direction: row;
                flex: auto;
                gap: 2em;
        }

        img.img-cont-2 {
                margin-top: 8em;
        }

        .img-col-2 {
                flex: auto;
                gap: 2em;
        }

        /* Main */
        .main {
                margin: 0;
        }
        
        .main-cont {
                margin: 4em;
        }

        .icon {
                align-self: flex-start;
        }

        .fast-pass p {
                width: auto;
        }

        .main-row {
                display: flex;
                flex-direction: row;
        }
}

@media screen and (min-width:1000px) {
        .width-container {
                max-width: 1200px;
        }
        
        .hero {
                display: flex;
                flex-direction: row;
                gap: 5em;
                padding: 10em;
        }

        div.hero-col-2 {
                margin-left: 10em;
        }

        img.img-cont-2 {
                margin-top: 0;
        }

        div.img-col-1 {
                flex-direction: column;
                flex: 1;
                gap: 2em;
        }

        div.img-row {
                gap: 3em;
        }

        div.img-col-2 {
                flex-direction: column;
                flex: 1;
        }

        img.img-cont-3 {
                
                margin-top: 7.5em;
        }

        .main {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                
        }

        .width-container {
                border: none;
        }
}